<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
      <h2><%= 'プロフィール編集画面' %></h2>
      <%= form_with model: @user, url: profile_path, method: :put do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
        <div class="mb-3">
          <%= f.label :email, class: "form-label" %>
          <%= f.email_field :email, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= f.label :name, class: "form-label" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= f.label :avatar %>
          <%= f.file_field :avatar, class: 'form-control mb-3', accept: 'image/*' %>
          <%= f.hidden_field :avatar_cache %>
          <div class='mt-3 mb-3'>
            <%= image_tag @user.avatar.url, class: 'rounded-circle', id: 'preview', size: '100x100' %>
          </div>
        </div>
        <%= f.submit class: "btn btn-success" %>
      <% end %>
      <div class='text-center'>
        <%= link_to 'トップ画面に戻る', root_path, class: 'btn btn-success' %>
      </div>
    </div>
  </div>
</div>