<h3>編集画面</h3>
<%= form_with model: @shoppinglist, url: shop_list_path(@shoppinglist) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div>
    <%= f.label :item %>
    <%= f.text_field :item, class: 'form-control' %>
  </div>
  <div>
    <%= f.label :notes %>
    <%= f.text_field :notes, class: 'form-control' %>
  </div>
  <div>
    <%= f.submit "更新", class: "btn btn-success" %>
  </div>
<% end %>