<% if current_user == recipe.user %>
    <%= link_to recipe_path(recipe), method: :delete, data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } do %>
        <div class="btn-brown">削除</div>
    <% end %>
<% end %>