<% if logged_in? %>
    <% if current_user.own?(recipe) %>
        <%= link_to recipe_path(recipe), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } do %>
            <div class="btn btn-outline-success">削除</div>
        <% end %>
    <% end %>
<% end %>