<% content_for(:title, t('.title')) %>
<div class="container">
  <%= link_to 'レシピ投稿', new_recipe_path, class: 'btn btn-success mt-3' %>
  <div class="search-form">
    <%= render 'search_form' %>
  </div>

  <div class="boarder mt-3">
    <% @recipes.each do |recipe| %>
      <div class="flex-container">
        <% if logged_in? %>
          <% if current_user.recipe_favorite?(recipe) %>
            <%= render 'favorite_recipes/recipe_unfavorite', {recipe: recipe} %>
          <% else %>
            <%= render 'favorite_recipes/recipe_favorite', { recipe: recipe } %>
          <% end %>
        <% end %>
        <h3 class="ml-3"><%= link_to recipe.title, recipe_path(recipe), class: 'header-link' %></h3>
        <%= render 'destroy', recipe: recipe %>
      </div>
      <% recipe.recipe_tags.each do |tag| %>
        <div class="btn btn-success mb-3 mt-3"><%= tag.name %></div>
      <% end %>
      <div class="recipe_information">
        <%= link_to recipe_path(recipe) do %>
          <%= image_tag recipe.photo_url %>
        <% end %>
      </div>
      <div class="bottom-boarder mt-3"></div>
    <% end %>
  </div>
</div> 
<%= paginate @recipes, theme: 'bootstrap-5' %>