<div class="row justify-content-around mb-4 mt-3">
  <div class="col-6 col-md-4 col-lg-3">
    <%= link_to 'レシピのお気に入り', favorite_recipes_path, class: 'btn btn-success btn-block' %>
  </div>
  <div class="col-6 col-md-4 col-lg-3 ">
    <%= link_to '料理の知恵のお気に入り', favorite_wisdoms_path, class: 'btn btn-success btn-block' %>
  </div>
</div>