<div class="footer" id="footer">
    <div class='footer-container'>
        <%= link_to '利用規約', terms_of_services_path, class: 'header-link' %>
        <%= link_to 'プライバシーポリシー', privacies_path, class: 'header-link' %>
        <%= link_to 'お問い合わせ', new_contact_path, class: 'header-link'  %>
    </div>
    <div class='copyright'>
        <p>Copyright© Qmeals All Rights Reserved.</p>
    </div>
</div>