<div class="footer" id="footer">
    <div class='footer-container'>
        <%= link_to '利用規約', terms_of_services_path, class: 'brown-script mr-2' %>
        <%= link_to 'プライバシーポリシー', privacies_path, class: 'brown-script mr-2' %>
        <%= link_to 'お問い合わせ', new_contact_path, class: 'brown-script mr-5'  %>
    </div>
    <div class='copyright brown-script'>
        <p>Copyright© Qmeals All Rights Reserved.</p>
    </div>
</div>