<div class="header">
  <div class="top_information">
    <div class="left_header">
      <%= link_to root_path, class: 'header-link' do %>
        <span>Qmeals</span>
        <%= image_tag 'dish.svg' %>
      <% end %>
    </div>
    <div class="right_header">
      <%= button_to "ログアウト", logout_path, method: :delete, class: "btn btn-success mt-3 mb-4",
            data: { turbo_method: :delete, turbo_confirm: "本当にログアウトしますか？" } %>
      <%= link_to "#{current_user.name}さん", profile_path, class: 'btn btn-success mt-3 mb-4'%>
      <%= link_to profile_path do %>
        <%= image_tag current_user.avatar_url %>
      <% end %>
    </div>
  </div>
  <div class="middle_information">
    <%= link_to shop_lists_path, class: 'header-link' do %>
      <%= image_tag 'bag.svg' %>
      <span>お買い物リスト</span>
    <% end %>
    <%= link_to recipes_path, class: 'header-link' do %>
      <%= image_tag 'pod.svg' %>
      <span>レシピ</span>
    <% end %>
    <%= link_to wisdom_boards_path, class: 'header-link' do %>
      <%= image_tag 'wisdom.svg' %>
      <span>料理の知恵</span>
    <% end %>
    <%= link_to edamams_path, class: 'header-link' do %>
      <%= image_tag 'edamams.svg' %>
      <span>海外のレシピ</span>
    <% end %>
    <%= link_to favorite_recipes_path, class: 'header-link' do %>
      <%= image_tag 'star.svg' %>
      <span>お気に入りリスト</span>
    <% end %>
  </div>
</div>
