<div class="container">
    <h2 class="alert alert-success">Qmealsとは？</h2>
    <div class="description">
        <h3 class="index">機能の紹介</h3>
        <ol class="index-list">
            <p>このサイトは時短に特化したアプリです。</p>
            <li>忙しいサラリーマン</li>
            <li>普段料理しない人</li>
            <li>余りもので料理したい人</li>
            <li>買い物メモと、レシピアプリをつい買い分けるのが面倒くさい人</li>
            <li>料理を上達させるための知恵をつけたい人</li>
        </ol>
        <div>
            <h3 class="index">このアプリでは、このような機能が利用できます！！</h3>
            <li class="index-item">レシピの掲示板について</li>
            <li class="index-item">料理の知恵袋について</li>
            <li class="index-item">お買い物リストの登録</li>
            <li class="index-item">レシピ登録機能</li>
            <li class="index-item">海外のレシピ検索機能</li>
        </div>
        <div class="topics">
            <h3 class="alert alert-success">1.レシピの説明について</h3>
            <p>時短に特化したアプリです。手軽なレシピ作りに挑戦・投稿してみましょう！！</p>
            <div class="bottom-space">
                <%= link_to recipes_path do %>
                    <%= image_tag 'top_recipe.svg' %>
                <% end %>
            </div>
            <div class="bottom-space mt-3">
                <h3 class="alert alert-success">2.料理の知恵袋について</h3>
                <p>料理の知恵を身につけましょう。</p>
                <%= link_to wisdom_boards_path do %>
                    <%= image_tag 'top_wisdom.svg' %>
                <% end %>
            </div>
            <div class="bottom-space mt-3">
                <h3 class="alert alert-success">3.お買い物リストの登録</h3>
                <p>レシピからそのままお買い物リストを作成し、いつでも買い物に行けるようにしましょう。</p>
                <%= link_to shop_lists_path do %>
                    <%= image_tag 'top_shopping.svg' %>
                <% end %>
            </div>
            <div class="bottom-space mt-3">
                <h3 class="alert alert-success">4.レシピの登録機能</h3>
                <p>いつでも見返せるようにレシピ・知恵袋をお気に入り登録しましょう</p>
                <% if logged_in? %>
                    <%= link_to favorite_recipes_path do %>
                        <%= image_tag 'top-registration.svg' %>
                    <% end %>
                <% else %>
                    <%= link_to login_path do %>
                        <%= image_tag 'top-registration.svg' %>
                    <% end %>
                <% end %>
            </div>
            <div class="bottom-space mt-3">
                <h3 class="alert alert-success">5.海外のレシピ検索機能</h3>
                <p>海外のレシピも調べてさらに知見を広げましょう！</p>
                    <%= link_to edamams_path do %>
                    <%= image_tag 'top-oversea.svg' %>
                <% end %>
            </div>
        </div>
    </div>
</div>