<%= link_to favorite_wisdom_path(current_user.favorite_wisdoms.find_by(wisdom_board_id: wisdom_board.id)), id: "favorite-button-for-wisdom-#{wisdom_board.id}", data: { turbo_method: :delete } do %>
  <div><%= image_tag 'favorite.svg' %></div>
<% end %>