<div id="recipe-comment-form">
  <%= form_with model: recipe_comment, url: recipe_recipe_comments_path(recipe) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.text_field :body, class: 'comment-input', placeholder: 'コメントを入力してください' %>
    <%= f.submit 'コメントする', class: 'btn-brown' %>
  <% end %>
</div>