<div id="recipe-comment-<%= recipe_comment.id %>">
  <%= "コメントした人: #{recipe_comment.user.name}さん" %>
  <%= "コメント: #{recipe_comment.body}" %>
  <% if current_user.own?(recipe_comment) %>
    <%= link_to recipe_comment_path(recipe_comment), data: {turbo_method: :delete, turbo_confirm: 'コメントを削除しますか？'} do %>
      <div class="btn-brown">削除</div>
    <% end %>
  <% end %>
</div>