<div id="wisdom-comment-form">
  <%= form_with model: wisdom_comment, url: wisdom_board_wisdom_comments_path(wisdom_board) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.text_field :comment, class: 'comment-input', placeholder: 'コメントを入力してください' %>
    <%= f.submit 'コメントする', class: 'btn btn-success' %>
  <% end %>
</div>