<div id="wisdom-comment-<%= wisdom_comment.id %>">
  <%= "コメントした人: #{wisdom_comment.user.name}さん" %>
  <%= "コメント内容: #{wisdom_comment.comment}" %>
  <% if current_user&.own?(wisdom_comment) %>
    <%= link_to wisdom_comment_path(wisdom_comment), data: {turbo_method: :delete, turbo_confirm: "コメントを削除しますか？" } do %>
      <div class="btn-brown">削除</div>
    <% end %>
  <% end %>
</div>