@media (max-width: 750px) {
    .header {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .top_information {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .right_header {
        display: flex;
        align-items: center;
    }

    .middle_information {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .header-link {
        margin: 0.5rem;
    }

    .break-all {
        width: 100%;
        margin: 0 auto;
        word-wrap: break-word;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .topics > div {
        width: 100%;
        margin-bottom: 15px;
    }
}

.container {
    padding: 20px;
    font-size: 18px;
    color: #333;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;
    color: #593030;
}

.index {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.index-list {
    margin-left: 20px;
    list-style-type: decimal;
}

.index-item {
    margin-bottom: 10px;
}

.bottom-space img {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.topics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.topics > div {
    width: 48%;
}

.break-all {
    width: 500px;
    margin: 0 auto;
    word-wrap: break-word;
}

img {
    max-width: 100%;
    height: auto;
}

.brown-text {
    color: #8B4513;
    text-decoration: underline;
}

.brown-script{
    color: #593030;
    text-decoration: none;
    font-weight: bold;
}

.sub-back-ground {
    background-color: #FFEEC1;
    margin: auto;
}