.container {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    color: #333;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3); /* 影をつける */
    margin-top: 30px; /* 上部の余白を設定 */
    margin-bottom: 30px; /* 下部の余白を設定 */
}

.alert.alert-success {
    background-color: #4CE691;
    color: #ffffff;
}

.index {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.index-list {
    margin-left: 20px;
    list-style-type: decimal;
}

.index-item {
    margin-bottom: 10px;
}

.bottom-space img {
    display: block;
    margin: 0 auto;
    text-align: center;
}


.topics h3 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3); /* 影をつける */
}

.topics p {
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); /* 影をつける */
}

.break-all {
    width: 500px; /* 幅を500pxに設定 */
    margin: 0 auto; /* 中央寄せにするためのマージン設定 */
    word-wrap: break-word; /* 長い単語やURLがはみ出た場合に改行 */
  }  