@media (max-width: 750px) {
    .container {
      width: 100%;
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

.footer {
    background-color: #8DEBCE;
    width: 100%;
    height: 100px;
    padding-top: 10px;
    margin-top: auto;
    bottom: 0;
  }

.footer-container {
    text-align: center;
    margin-bottom: 20px; /* 下に20pxの余白を追加 */
    justify-content: space-between;
}

.copyright {
    color: black;
    text-align: center;
}