.header {
  display: flex;
  flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  font-family: 'Trebuchet MS', sans-serif;
}

.top_information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFA500;
  height: 80px;  
}

.left_header {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.right_header {
  display: flex;
  justify-content: space-between;
  width: 30%;
  height: 100%;
}

.right_header > * {
  align-self: flex-end;
  margin-right: 10px;
}

.middle_information {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFEEC1;
  padding: 10px;
  gap: 20px;
}

.rounded-image{
  border-radius: 100%;
    overflow: hidden;
}

.header-link {
  color: #593030;
  font-weight: bold;
}

.btn-brown {
  color: #ffffff;
  background-color: #593030;
  border: 2px solid #593030;
  border-radius: 20px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}