<% if logged_in? %>
    <%= link_to wisdom_board_path(wisdom_board), 
              data: { turbo_method: :delete, turbo_confirm: "本当に削除してもよろしいですか？" }, 
              class: "btn btn-outline-success mb-5", 
              method: :delete do %>
    削除    
    <% end %>
<% end %>