<%= form_with url: wisdom_boards_path, method: :get, data: {turbo_frame: "wisdoms-frame", controller: "form", action: "input->form#submit" } do |form| %>
  <div class="form-field">
    <div class="form-group">
      <%= form.label :title, '知恵袋名' %>
      <%= form.text_field :title, list: "titles", class: 'form-control', placeholder: '知恵袋名を入力してください' %>
      <datalist id="titles">
        <% WisdomBoard.all.each do |wisdom| %>
          <option value="<%= wisdom.title %>">
        <% end %>
      </datalist>
    </div>
    <div class="form-group">
      <%= form.label :tag, 'タグ名' %>
      <%= form.text_field :tag, list: "tags", class: 'form-control', placeholder: 'タグ名を入力してください' %>
      <datalist id="tags">
        <% WisdomTag.all.each do |tag| %>
          <option value="<%= tag.name %>">
        <% end %>
      </datalist>
    </div>
    <div class="form-submit mt-4">
      <%= form.submit :search, class: 'btn btn-success' %>
    </div>
  </div>
<% end %>